<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Chapter 6</title>

<body>
    <h1><%= message %></th>
</body>
<noscript>Javascript gaada euy</noscript>
